.custom-link {
  stroke: #00f !important; /* Blue path color */
  stroke-width: 2px !important;
  fill: none !important;
  stroke-dasharray: 400 !important; /* Total length of the path */
  stroke-dashoffset: 400 !important; /* Start at total length */
  animation: draw 2s linear forwards !important;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.text-updater-node {
  height: 50px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
}

.text-updater-node label {
  display: block;
  color: #777;
  font-size: 12px;
}
